<% layout("/layouts/boilerplate") %>

<div class="flex flex-col items-center drop-shadow-md mt-12 mb-12">
  <div class="max-w-screen-md bg-gray-50 rounded-md p-4">
    <a
      class="block mt-2 text-sky-600 hover:text-sky-700"
      href="/schools/<%=school._id%>"
      >Back to School</a
    >
    <h1 class="text-3xl font-bold my-4">Edit School</h1>
    <form
      id="form-submit"
      action="/schools/<%=school._id%>?_method=PUT"
      method="POST"
      enctype="multipart/form-data">
      <div class="relative z-0 mb-3 group">
        <label
          class="absolute text-gray-500 text-xs transform -translate-y-2 origin-[0]"
          for="title"
          >Title</label
        >
        <input
          type="text"
          id="title"
          name="school[title]"
          class="inputs block py-2.5 px-0 w-full text-gray-900 bg-transparent border-b border-gray-300 focus:outline-none focus:ring-0 peer"
          value="<%= school.title %>" />
      </div>
      <div class="relative z-0 mb-3 group">
        <label
          class="absolute text-gray-500 text-xs transform -translate-y-2 origin-[0]"
          for="location"
          >Location</label
        >
        <input
          type="text"
          id="location"
          name="school[location]"
          class="inputs block py-2.5 px-0 w-full text-gray-900 bg-transparent border-b border-gray-300 focus:outline-none focus:ring-0 peer"
          value="<%= school.location %>" />
      </div>
      <!-- <input type="file" name="image" id="image" multiple /> -->

      <div class="relative z-0 mb-3 group">
        <label class="text-gray-500 text-xs origin-[0]" for="description"
          >Description</label
        >
        <textarea
          type="text"
          name="school[description]"
          class="text-area leading-5 text-left text-description p-5 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:outline-none"
          placeholder=" ">
        <%= school.description %></textarea
        >
      </div>

      <!--Image submit -->
      <div
        class="relative border rounded-lg grid grid-cols-3 gap-2 mb-4"
        id="image-container"></div>

      <div class="flex items-center justify-center mb-4 w-full">
        <label
          for="dropzone-file"
          class="drop-container flex flex-col items-center justify-center w-full h-64 border border-gray-300 border rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 hover:bg-gray-100">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg
              height="60"
              width="60"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 312.602 312.602"
              xml:space="preserve"
              fill="#b8b8b8"
              stroke="#b8b8b8">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  style="fill: #949494"
                  d="M251.52,137.244c-3.966,0-7.889,0.38-11.738,1.134c-1.756-47.268-40.758-85.181-88.448-85.181 c-43.856,0-80.964,32.449-87.474,75.106C28.501,129.167,0,158.201,0,193.764c0,36.106,29.374,65.48,65.48,65.48h54.782 c4.143,0,7.5-3.357,7.5-7.5c0-4.143-3.357-7.5-7.5-7.5H65.48c-27.835,0-50.48-22.645-50.48-50.48c0-27.835,22.646-50.48,50.48-50.48 c1.367,0,2.813,0.067,4.419,0.206l7.6,0.658l0.529-7.61c2.661-38.322,34.861-68.341,73.306-68.341 c40.533,0,73.51,32.977,73.51,73.51c0,1.863-0.089,3.855-0.272,6.088l-0.983,11.968l11.186-4.367 c5.356-2.091,10.99-3.151,16.747-3.151c25.409,0,46.081,20.672,46.081,46.081c0,25.408-20.672,46.08-46.081,46.08 c-0.668,0-20.608-0.04-40.467-0.08c-19.714-0.04-39.347-0.08-39.999-0.08c-4.668,0-7.108-2.248-7.254-6.681v-80.959l8.139,9.667 c2.667,3.17,7.399,3.576,10.567,0.907c3.169-2.667,3.575-7.398,0.907-10.567l-18.037-21.427c-2.272-2.699-5.537-4.247-8.958-4.247 c-3.421,0-6.686,1.548-8.957,4.247l-18.037,21.427c-2.668,3.169-2.262,7.9,0.907,10.567c1.407,1.185,3.121,1.763,4.826,1.763 c2.137,0,4.258-0.908,5.741-2.67l7.901-9.386v80.751c0,8.686,5.927,21.607,22.254,21.607c0.652,0,20.27,0.04,39.968,0.079 c19.874,0.041,39.829,0.081,40.498,0.081c33.681,0,61.081-27.4,61.081-61.08C312.602,164.644,285.201,137.244,251.52,137.244z"></path>
              </g>
            </svg>
            <p class="mb-2 text-sm font-medium text-gray-500">
              Click to upload
            </p>
            <input
              id="dropzone-file"
              name="image"
              type="file"
              class="hidden"
              multiple />
            <div
              id="file-preview"
              class="flex flex-wrap items-center justify-center"></div>
          </div>
        </label>
      </div>
      <div class="mb-2">
        <span class="err-msg text-red-500"></span>
      </div>
      <!-- Delete Image -->
      <div class="relative grid grid-cols-3 gap-2">
        <% school.images.forEach(function (img,i) { %>
        <div class="border rounded-lg grid grid-cols-2">
          <img
            crossorigin="anonymous"
            src="<%= img.thumbnail %>"
            alt=""
            class="border rounded-lg m-auto h-80 object-cover col-span-2" />
          <div class="flex items-center p-2">
            <input
              class="transform scale-150"
              type="checkbox"
              id="image-<%=i%>"
              name="deleteImg[]"
              value="<%=img.filename%>" />
            <label for="image-<%=i%>" class="ml-2 font-medium text-gray-600"
              >Delete</label
            >
          </div>
        </div>
        <% }) %>
      </div>
      <!--Submit -->
      <div class="flex justify-between">
        <div class="mt-4">
          <button
            class="px-4 py-2 font-semibold text-white bg-cyan-600 rounded hover:bg-cyan-500 border-t">
            Update School
          </button>
        </div>
      </div>
      <!--  -->
    </form>
  </div>
</div>

<script src="/js/img-submission.js"></script>
<script src="/js/edit-validation.js"></script>
